@use "sass:map";
@use "../../styles/variables" as v;

.btn {
	border: none;
	border-radius: v.$border-radius;
	cursor: pointer;
	font-size: 0.95rem;
	outline: none;
	padding: map.get(v.$spacers, "xs") v.$spacer;

	&Primary {
		background-color: v.$highlight;
		box-shadow: -2px 2px 10px rgba(v.$highlight, 0.3);
		color: v.$white;
	}

	&Dark {
		background-color: v.$black;
		box-shadow: -15px 15px 25px rgba(v.$black, 0.1);
		color: v.$white;
		transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

		&:hover {
			background-color: v.$dark;
		}

		&:focus {
			background-color: v.$black;
			box-shadow: -15px 15px 25px rgba(v.$black, 0.3), 0 0 0 3px rgba(v.$black, 0.5);
		}
	}
}
