@use "sass:map";
@use "sass:math";
@use "../../styles/variables" as v;

.outer {
	background-color: v.$dark;
	border-radius: 1000px;
	color: v.$white;
	font-family: v.$font-family-highlight;
	font-size: 0.5em;
	margin-bottom: map.get(v.$spacers, "xs");
	padding: math.div(map.get(v.$spacers, "xs"), 2) map.get(v.$spacers, "sm");

	&.javascript {
		background-color: #f8dc3d;
	}

	/* stylelint-disable-next-line selector-class-pattern */
	&.c {
		background-color: #3949ab;
	}

	&.scss {
		background-color: #ca669c;
	}

	& + & {
		margin-left: map.get(v.$spacers, "xs");
	}
}
