@use "sass:map";
@use "../../../styles/variables" as v;

.container {
	padding-bottom: map.get(v.$spacers, "xl");
	padding-top: map.get(v.$spacers, "xl");
}

.list {
	align-items: center;
	display: flex;
	list-style-type: none;

	&Item {
		flex-basis: 33%;
	}
}
