@use "sass:math";

$black: rgb(24, 23, 23) !default;
$dark: rgb(54, 52, 54) !default;
$highlight: rgb(231, 60, 60);
$light: #ebebeb !default;
$white: #fff !default;
$font-family: "Outfit", "Open Sans", arial, sans-serif;
$font-family-highlight: "IBM Plex Mono", monospace;
$border-radius: 1rem;
$border-radius-sm: $border-radius * 0.65;
$spacer: 1rem;
$spacers: (
	"xs": math.div($spacer, 2),
	"sm": math.div($spacer, 1.5),
	"md": $spacer,
	"lg": $spacer * 2,
	"xl": $spacer * 4,
);
$box-shadow: -3px 3px 15px rgba($light, 0.5);
