@use "sass:map";
@use "variables" as var;
@use "mixins" as mix;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import "reset";

body {
	background: var.$white;
}

.no-scroll {
	overflow: hidden;
}

.link {
	color: var.$highlight;
}

.list {
	&-unstyled {
		list-style-type: none;
	}

	&-inline {
		align-items: center;
		display: flex;
		list-style-type: none;
	}
}

.container {
	display: block;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	padding-left: var.$spacer;
	padding-right: var.$spacer;
	width: clamp(768px, 80vw, 1280px);
}

.grid {
	column-gap: var.$spacer;
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	list-style-type: none;
	row-gap: map.get(var.$spacers, "xs");

	&.centered {
		align-items: center;
	}
}

.cell {
	@for $i from 1 through 12 {
		&-#{$i} {
			grid-column: auto / span $i;
		}
	}
}

.nav-list {
	align-items: center;
	display: flex;
	list-style-type: none;

	&-link {
		padding: map.get(var.$spacers, "sm") var.$spacer;
		transition: color 0.15s ease-in-out;

		&:hover {
			color: var.$highlight;
		}
	}
}

.main-section {
	min-height: 100vh;
	padding-bottom: var.$spacer;
	padding-top: var.$spacer;

	&-title {
		font-size: 3rem;
		font-weight: 800;
		text-transform: uppercase;
	}

	&-subtitle {
		display: block;
		font-family: var.$font-family-highlight;
		font-size: 0.8rem;
		margin-bottom: 0.7em;
		text-transform: uppercase;
	}
}
