<div class="solar-system">
    <div class="planet" />
    <div class="satellites">
        <div class="satellite book">
            <i class="fa-solid fa-book-open"></i>
        </div>
        <div class="satellite coffee">
            <i class="fa-solid fa-mug-hot"></i>
        </div>
        <div class="satellite hiking">
            <i class="fa-solid fa-person-hiking"></i>
        </div>
        <div class="satellite music">
            <i class="fa-solid fa-music"></i>
        </div>
        <div class="satellite gaming">
            <i class="fa-solid fa-gamepad"></i>
        </div>
    </div>
</div>
<style>
    .solar-system {
        --solar-system-planet-size: 25vmin;

        align-items: center;
        display: flex;
        justify-content: center;
        padding: var(--solar-system-planet-size);
        position: relative;
        margin: auto;
        height: var(--solar-system-planet-size);
        width: var(--solar-system-planet-size);
        box-sizing:content-box;
    }

    .solar-system:after {
        animation: 20s linear infinite forwards shooting-star;
        content: "";
        display: block;
        height: 1px;
        width: 0;
        background: linear-gradient(to right, currentColor, transparent);
        position: absolute;
        border-radius: 2px;
        top: 20vmin;
        right: -20vmin;
        transform-origin: top right;
        transform: rotate(45deg);
    }

    @keyframes shooting-star {
        0 {
            width: 0;
        }
        2% {
            top: 20vmin;
            right: -20vmin;
            width: 10vmin;
        }
        4% {
            top: 0;
            right: 0;
            width: 0;
        }
        100% {
            top: 0;
            right: 0;
            width: 0;
        }
    }

    .solar-system::before {
        animation: 400s linear infinite reverse rotate;
        content: "";
        display: block;
        height: .5vmin;
        border-radius: 50%;
        box-shadow:
            200px 200px .1vmin currentColor,
            -50px -100px .1vmin currentColor,
            150px 80px .1vmin currentColor,
            150px -150px .1vmin .1vmin currentColor,
            300px 20px .1vmin currentColor,
            200px 40px .1vmin currentColor,
            -140px 60px .1vmin currentColor,
            -300px -150px .1vmin .1vmin currentColor,
            -100px -150px .1vmin .1vmin currentColor,
            -100px 150px .1vmin currentColor,
            80px 80px .1vmin currentColor,
            -200px -10px .1vmin currentColor,
            0 180px .1vmin currentColor,
            0 -250px .1vmin currentColor,
            -90px -250px .1vmin .1vmin currentColor,
            200px -60px .1vmin currentColor,
            60px 200px .1vmin .1vmin currentColor,
            -300px 70px .1vmin currentColor,
            -150px -30px .1vmin .1vmin currentColor,
            -100px 200px .1vmin currentColor;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0.8;
        transform: translate(-50%, -50%);
        width: .5vmin;
    }

    .planet {
        animation: 2.5s ease-out 1s infinite alternate float;
        background: radial-gradient(circle at top right, rgb(var(--color-highlight)), rgb(var(--color-highlight) / 0.6));
        border-radius: var(--solar-system-planet-size);
        box-shadow:
            inset 30px -10px 0 rgb(0, 0, 0, 0.1),
            0 0 50vmin rgb(var(--color-highlight) / 0.85);
        height: var(--solar-system-planet-size);
        width: var(--solar-system-planet-size);
        overflow: hidden;
    }

    .planet:after {
        content: "";
        display: block;
        height: 8%;
        width: 8%;
        position: absolute;
        top: 20%;
        left: 20%;
        border: 3px solid rgb(0, 0, 0, 0.2);
        border-radius: 20px;
        box-shadow: 100px 50px 0 10px rgb(0, 0, 0, 0.2),
                    -30px 50px 0 5px rgb(0, 0, 0, 0.2),
                    60px -35px 0 3px rgb(0, 0, 0, 0.2),
                    -30px 90px 0 3px rgb(0, 0, 0, 0.2),
                    60px 35px 0 1px rgb(0, 0, 0, 0.2);
    }

    .planet:before {
        content: "";
        display: block;
        height: 18%;
        width: 18%;
        position: absolute;
        bottom: 20%;
        right: 50%;
        border: 4px solid rgb(0, 0, 0, 0.2);
        background: transparent;
        border-radius: 20px;
    }

    .satellites {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
    }

    .satellite {
        --moving-speed: 120s;
        --position-x: 0;
        --position-y: 0;
        --scale: 1;
        --bg-color: 199 37 111;
        --shadow: inset 8px -4px 0 rgb(0, 0, 0, 0.2);

        animation: var(--moving-speed) linear infinite forwards rotate;
        display: flex;
        align-items: center;
        justify-content: center;
        inset: 0;
        position: absolute;
        transform-origin: center;
        pointer-events: none;
    }

    .satellite i {
        align-items: center;
        background-color: rgb(var(--bg-color));
        border-radius: 100%;
        box-shadow: var(--shadow);
        color: rgb(var(--color-primary-950) / 0.5);
        display: flex;
        justify-content: center;
        transform: translate(var(--position-x), var(--position-y)) scale(var(--scale));
        font-size: 5vmin;
        height: 12vmin;
        position: relative;
        width: 12vmin;
        pointer-events: all;
    }

    .satellite i:before {
        display: flex;
        align-items: center;
        justify-content: center;
        animation: var(--moving-speed) linear infinite reverse rotate;
    }

    .coffee {
        --moving-speed: 40s;
        --position-x: 15vmin;
        --position-y: -10vmin;
        --scale: 0.4;
        --bg-color: 171 37 199;
        --shadow: inset -8px 0px 0 rgb(0, 0, 0, 0.2);
    }

    .book {
        --position-x: -180px;
        --position-y: 150px;
        --scale: 0.8;
        --bg-color: 93 37 199;
    }

    .hiking {
        --moving-speed: 80s;
        --position-x: -18vmin;
        --position-y: -18vmin;
        --scale: 0.7;
        --bg-color: 37 136 199;
        --shadow: inset 8px 8px 0 rgb(0, 0, 0, 0.2);
    }

    .music {
        --position-x: 150px;
        --position-y: 150px;
        --scale: 0.8;
        --bg-color: 37 76 199;
        --shadow: inset -8px -8px 0 rgb(0, 0, 0, 0.2);
    }

    .gaming {
        --position-x: 100px;
        --position-y: -200px;
        --scale: 0.6;
        --bg-color: 199 37 185;
        --shadow: inset -8px 8px 0 rgb(0, 0, 0, 0.2);
    }

    @keyframes rotate {
        to {
            rotate: 1turn;
        }
    }

    @keyframes float {
        0% {
            transform: translateY(-3%);
        }
        100% {
            transform: translateY(3%);
        }
    }
</style>