@use "sass:map";
@use "sass:math";
@use "sass:color";
@use "../../styles/variables" as v;

.container {
	background-color: color.adjust(v.$black, $lightness: 3%);
	color: v.$white;
	margin-bottom: map.get(v.$spacers, "lg");
	padding-bottom: map.get(v.$spacers, "xl");
	padding-top: map.get(v.$spacers, "xl");
}

.address {
	&Item {
		display: block;
		margin-bottom: map.get(v.$spacers, "xs");
	}
}
