$lightGray: #E6E6E6;
$mediumGray: #5F5F5F;
$mediumDarkGray: #2F2F2F;
$darkGray: #1A1A1A;

$sm: 5px;
$mm: 10px;
$lm: 20px;
$xlm: 30px;

$smallBox: 1.5px;

$xsLine: 1px;
$smallLine: 2px;
$mediumLine: 4px;

$transitionTime: 1000ms;

$mainFont: 'Overpass', 'sans-serif';