@use "../../../styles/variables" as v;
@use "sass:math";
@use "sass:map";
@use "sass:string";

$height: 16px;

@mixin background-wave($color) {
	$color-string: string.slice(#{$color}, 2, 7);
	$color-encoded: "%23" + $color-string;

	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 98.38 17'%3E%3Cpath fill='" + $color-encoded + "' d='M73.79 17c-6.83 0-10.33-3.99-13.43-7.51-3.06-3.48-5.7-6.49-11.17-6.49s-8.11 3.01-11.17 6.49c-3.09 3.52-6.6 7.51-13.42 7.51s-10.33-3.99-13.42-7.51C8.11 6.01 5.47 3 0 3V0C6.83 0 10.33 3.99 13.42 7.51c3.06 3.48 5.7 6.49 11.17 6.49s8.11-3.01 11.17-6.49c3.09-3.52 6.6-7.51 13.42-7.51s10.33 3.99 13.43 7.51c3.06 3.48 5.7 6.49 11.17 6.49s8.11-3.01 11.17-6.49c3.09-3.52 6.6-7.51 13.43-7.51V3c-5.47 0-8.11 3.01-11.17 6.49-3.09 3.52-6.6 7.51-13.43 7.51Z'/%3E%3C/svg%3E");
}

.line {
	@include background-wave(v.$dark);

	background-repeat: repeat-x;
	background-size: auto 8px;
	display: block;
	height: $height;
	margin-bottom: map.get(v.$spacers, "xs");
	margin-top: map.get(v.$spacers, "sm");
	position: relative;
	z-index: 1;

	&.light {
		@include background-wave(v.$light);
		@include background-wave(v.$light);
	}

	&.highlight {
		@include background-wave(v.$highlight);
	}
}
