$anim-dur: 1s;

@mixin transitionate($dir, $x, $y) {
	/* stylelint-disable-next-line keyframes-name-pattern */
	@keyframes transition-#{$dir} {
		0% {
			transform: translate($x, $y);
		}

		100% {
			transform: translate(0, 0);
		}
	}

	animation-duration: $anim-dur;
	animation-fill-mode: forwards;
	animation-name: transition-#{$dir};
	animation-timing-function: ease-in-out;
}

.observed {
	transition: opacity $anim-dur ease-in-out;

	&.slide {
		transition: opacity $anim-dur ease-in-out, transform $anim-dur ease-in-out;

		&.left {
			@include transitionate("left", -20%, 0);
		}

		&.right {
			@include transitionate("right", 20%, 0);
		}

		&.top {
			@include transitionate("top", 0, -20%);
		}

		&.bottom {
			@include transitionate("bottom", 0, 20%);
		}
	}

	&.isVisible {
		opacity: 1;
	}

	&.isInvisible {
		opacity: 0;
	}
}
