@use "sass:map";
@use "../../../../styles/variables" as v;

.btn {
	background: transparent;
	border: 0;
	border-radius: map.get(v.$spacers, "sm");
	cursor: pointer;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;

	&::before {
		background-image: radial-gradient(rgba(v.$dark, 0.5), rgba(v.$black, 0.75));
		bottom: 0;
		content: "";
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transition: opacity 0.15s ease-in-out;
		z-index: 10;
	}

	&:hover::before {
		opacity: 1;
	}

	&::after {
		content: "";
		display: block;
		padding-top: 100%;
		width: 100%;
	}
}

.preview {
	bottom: 0;
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
